
@if (Race == null)
{
    <p>No race chosen yet.</p>
}
else
{
    <div class="race-details">
        <h4 class="faction">@Race.Name</h4>

        @if (!string.IsNullOrEmpty(Race.ImageUrl))
        {
            <img src="@Race.ImageUrl" alt="@Race.Name" class="race-image" />
        }

        @if (!string.IsNullOrWhiteSpace(Race.Description))
        {
            <p>@Race.Description</p>
        }

        <h5 class="abilities">Racial Abilities</h5>
        <ul>
            @foreach (var ability in Race.RacialAbilities!)
            {
                <li>@ability</li>
            }
        </ul>

        <h5 class="classes">Allowed Classes and Roles</h5>
        <ul>
            @foreach (var c in Race.AllowedClasses ?? Enumerable.Empty<ClassDto>())
            {
                <li>@c.Name (@c.Role)</li>
            }

            @if (Race.AllowedClasses == null || !Race.AllowedClasses.Any())
            {
                <li>Inga tillåtna klasser angivna</li>
            }
        </ul>
    </div>
}


@code {
    [Parameter]
    public CharacterRaceDto? Race { get; set; }

   
}
